.buttonize{
   border-color:  #26d;
   border-style: solid;
   box-shadow: 2px 2px 1px #220;
}
.buttonize-sm{
  border-width: 4px;
  border-radius: 10px;
  margin: 0px!important;
}
.buttonize-md{
  border-width: 6px;
  border-radius: 10px;
}
.bitty{
  height: 40px;
  padding: 0;
}
.navbar{
  box-shadow: 0px 8px 3px rgba(0, 0, 0, 0.5);
}
nav ul{
  list-style-type: none;
  overflow: hidden;
  font-size: 40px;
  color: whitesmoke;
  text-shadow: 2px 2px 1px #242;
  line-height: 36px;
  margin: 12px 9px 0px;
}
nav ul li{
  float: left;
}
#submitter{
  font-size: 24px;
  color: #222;
  border-radius: 5px;
  text-shadow: 2px 2px 1px #888;
}
body{
  background-size: cover;
  background-image: url("mapstyle.jpg");
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.map {
  height: 300px;
}
.styled {
  background-color: #242;
  color: #add;
}

#floating-panel {
  position: absolute;
  top: 60px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
.dressed{
  background-repeat: no-repeat;
  background-size: cover;
  border: #3a87ad solid 6px;
  border-radius: 10px;
  text-align: center;
  color: white !important;
  opacity: 0.9;
}
.centered{
  text-align: center;
}
.table{
}
.close{
  right: 4px !important;
  opacity: 0.7 !important;
  color: #add !important;
}
